*{
    margin: 0;
    padding: 0;
}
#btn{
    margin: 0.5rem;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 4px lightgrey;
    height: 10vh;
}
#logo{
    margin-left: 20px;
}
#links{
    display: flex;
    list-style: none;
    width: 45%;
    justify-content: space-around;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}

.card{
    /* margin: 1rem; */
    border: 1px solid rgba(207, 203, 203, 0.198);
    width: 200px;
    transition: all 0.4s ease-in-out;
    word-break: break-all;

}
.details{
    padding: 0.3rem;
}
.details p{
    margin: 0.2rem;
}
.image img{
    height: 150px;
}
.title{
    font-size: 1.4rem;
    font-weight: bold;
}
.rating{
    font-weight: bold;
    font-size: 1.2rem;
}
.cuisines,.loc{
    color: gray;
}

.card:hover{
    transform: scale(0.9);
}

#card-container{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 15px;

}


#filter{
    width: 80%;
    margin: auto;
}
.btn{
    padding: 0.4rem;
    width: 120px;
}
